html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    /* ... */
}

#content {
    /* ... */
    padding-bottom: 100px; /* El tamaño del footer para evitar el sobreposicionamiento */
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1a1e21;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .copyright {
    font-size: 0.75rem;
    line-height: 1.8;
    color: #ffffff;
}

.footer:after {
    display: table;
    clear: both;
    content: " ";
}
